<div [@fadeInOut]>

    <div class="section-container" >
        <h2 class="section-title">Users</h2>
        <button mat-fab color="accent" class="float-button" (click)="openFormUser(null)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      
      
    <mat-table [dataSource]="users" matSort>
    
        <!-- Columnas de la tabla -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.userName }}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
        </ng-container>
        
        
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-slide-toggle checked="{{row.status == 'Active'}}" color="primary" (change)="onToogle($event,row)">
                    {{ row.status }}
                </mat-slide-toggle>
            </mat-cell>
          </ng-container>
      
        <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-mini-fab color="primary" aria-label="edit user" 
                    style="margin-right: 10px;" (click)="openFormUser(row)">
                    <mat-icon>edit</mat-icon>
                  </button>
            </mat-cell>
          </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

  